body {
    text-align: left;
    font: 1.2em;
}

h1 {
    font-size: 1.5em;
    }

h2 {
    font-size: 1.3em;
    color: red;
    }


.center-image {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

.sender-address {
    text-align: right;
    background-color: #DBEAF0;
    font: 0.8em;
}

.letter-date {
    text-align: left;
    font-style: italic;
    font: 1em;
}

.recipient {
    text-align: left;
    font-style: italic;
    font: 1em;
}

.letter-subject {
    text-align: left;
    background-color: #DBEAF0;
}

.descriptive-list {
    font-weight: 600;
    font-style: italic;
}

    

