/* INTENTIONALLY UGLY STARTER STYLES */
/* These styles are very, very ugly. */
/* Time to make them attractive, legible, and usable */
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alice&family=Sacramento&display=swap');

body {
    font-family: Alice, serif;
    background-color: #F5F0E8;
    margin: 0;
    padding: 0;
}

.recipe-container {
   /* background-color: yellow; */
    border: 10px solid #D1B490;
    margin: 10px;
    padding: 5px;
}

.recipe-header {
    font-family: Sacramento, serif;
    background-color: #885A89;
    border: 3px dotted #885A89;
    text-align: center;
}

.recipe-title {
    color: #F5F0E8;
    font-size: 40px;
  /*  text-decoration: underline; */
}

.recipe-meta {
    background-color: #F5F0E8;
    color: #885A89;
    border: 2px dashed #D1B490;;
}

.recipe-description {
    background-color: #8AA8A1;
    font-style: italic;
    font-size: 8px;
    color: #302A30;
}

.ingredients-section {
    color: #302A30;
    background-color: #D1B490   ;
    border: 5px solid #8AA8A1;
}

.ingredients-list {
    list-style: none;
}

.ingredients-list li {
    background-color: #F5F0E8;
    border: 1px solid #EE7B30;
    margin: 2px;
    padding: 1px;
}

.instructions-section {
    background-color: #8AA8A1;
    border: 5px solid #D1B490;
}

.instructions-list {
    list-style: none;
    counter-reset: steps;
    padding: 0;
}

.instruction-step {
    counter-increment: steps;
    display: flex;
    align-items: flex-start;
    gap: 12px;
    background-color: #F5f0E8;
    border: 2px solid #885A89;
    margin-bottom: 16px;
}

.instruction-step::before {
    content: counter(steps) ".";
    display: flex;
    align-items: center;   
    justify-content: center;
    color: #EE7B30;
    margin-right: 8px;
}

.instruction-step::marker {
    color: #EE7B30;
    font-weight: bold;
}


.recipe-footer {
    background-color: violet;
    text-align: right;
    font-size: 6px;
}

.recipe-image {
    width: 50px;
    height: 50px;
    border: 5px solid black;
}

* {
    margin: 2px;
    padding: 1px;
}
