/* INTENTIONALLY UGLY STARTER STYLES */
/* These styles are very, very ugly. */
/* Time to make them attractive, legible, and usable */
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alice&family=Sacramento&display=swap');

:root {
    --purple: #885A89;
    --terracotta: #B94F18;
    --cream: #F5F0E8;
    --teal: #8AA8A1;
    --brown: #D1B490;

    --body-font: "Alice", serif;
    --display-font: "Sacramento", cursive;
}

body {
    font-family: var(--body-font);
    background-color: var(--cream);
    margin: 0;
    padding: 0;
}

.recipe-container {
   /* background-color: yellow; */
    border: 10px solid var(--brown);
    margin: 10px;
    padding: 5px;
}

.recipe-header {
    font-family: var(--body-font);
    background-color: var(--purple);
    border: 3px dotted var(--purple);
    text-align: center;
}

.recipe-title {
    font-family: var(--display-font);
    color: var(--cream);
    font-size: 50px;
  /*  text-decoration: underline; */
}

.recipe-meta {
    background-color: var(--cream);
    color: var(--purple);
    border: 2px dashed var(--brown);
}

.recipe-meta p {
    color: var(--terracotta);
}

.recipe-description {
    background-color: var(--teal);
    font-style: italic;
    font-size: 10px;
}

.ingredients-section {
    background-color: var(--brown);
    border: 5px solid var(--teal);
}

.ingredients-section h2 {
    color: var(--terracotta);
    font-family: var(--display-font);
    font-size: 40px;
}

.ingredients-list {
    list-style: none;
}

.ingredients-list li {
    background-color: var(--cream);
    border: 1px solid var(--terracotta);
    margin: 2px;
    padding: 1px;
}

.instructions-section {
    background-color: var(--teal);
    border: 5px solid var(--brown);
}

.instructions-section h2 {
    color: var(--terracotta);
    font-family: var(--display-font);
    font-size: 40px;
}

.instructions-list {
    list-style: none;
    counter-reset: steps;
    padding: 0;
}

.instructions-list li {
    counter-increment: steps;
    display: flex;
    align-items: flex-start;
    gap: 12px;
    background-color: var(--cream);
    border: 2px solid var(--purple);
    margin-bottom: 16px;
}

.instructions-list li::before {
    content: counter(steps) ".";
    display: flex;
    align-items: center;   
    justify-content: center;
    color: var(--terracotta);
    margin-right: 8px;
}

.instructions-list li::marker {
    color: var(--terracotta);
    font-weight: bold;
}

.instructions-list strong {
   font-size: inherit;
   font-weight: bold;
}

.recipe-footer {
    background-color: var(--purple);
    text-align: right;
    font-size: 8px;
    color: var(--cream);
}

.recipe-image {
    width: 70px;
    height: 70px;
    border: 2px solid black;
}

